
.content {
 position: absolute;
    margin: 0 150 0 150;
    top: 0px;
    width: 1000px;
    height: 800px;
}


.up {
    position: fixed;
    background:rgba(120, 182, 255, 0.84);
    width: 1000px;
    height: 100px;
    z-index: 2;
}

.down {
    position: relative;
    margin: 100 0;
    z-index: 1;
}

.ava img{
 border-radius: 50%;
 margin: 20px;
}

.ava h4{
    
    margin: -50 80;
    
}

h4 { font-family: 'Roboto', sans-serif; font-weight: 300; }

.search {
    
    margin: 25 800;
    
}

.but {
    
    margin: -18 140
    
}

.avatar {
    
 border-radius: 50%;   
    
    
}

